{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logo Jobs</title>
    <link rel="stylesheet" href="/static/logo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    
</head>
<body>
    <button class="btn"><a href="{% url 'index' %}"><i class="fa fa-arrow-left"></i></a></button>
    <div class="container">
        <div class="jobs">
            <img src="/static/club design/6pm-oasis-thursday-play-down.jpg" alt="" class="imgjob">
        </div>
        <div class="jobs">
            <img src="/static/club design/flamingo-nigt.jpg" alt="" class="imgjob">
        </div>
        <div class="jobs">
            <img src="/static/club design/eid...jpg" alt="" class="imgjob">
        </div>
        <div class="jobs">
            <img src="/static/club design/old-skul-party-24.jpg" alt="" class="imgjob">
        </div>
        <div class="jobs">
            <img src="/static/club design/Valentine’s-Night-Party-...jpg" alt="" class="imgjob">
        </div>
        <div class="jobs">
            <img src="/static/club design/vegas-night.jpg" alt="" class="imgjob">
        </div>
        <div class="jobs">
            <img src="/static/club design/beach--bb-nn-aa.jpg" alt="" class="imgjob">
        </div>
        <div class="jobs">
            <img src="/static/club design/drip-sunday-....jpg" alt="" class="imgjob">
        </div>
        <div class="jobs">
            <img src="/static/club design/mask-night.jpg" alt="" class="imgjob">
        </div>
        <div class="jobs">
            <img src="/static/club design/little-black-dress-27-..j.jpg" alt="" class="imgjob">
        </div>
    </div>
    
</body>
</html>