{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logo Jobs</title>
    <link rel="stylesheet" href="/static/logo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    
</head>
<body>
    <button class="btn"><a href="{% url 'index' %}"><i class="fa fa-arrow-left"></i></a></button>
    <div class="container">
        <div class="jobs">
            <img src="/static/AA MAGAZINE/FRONT-AND-BACK-COVER-PAGE.jpg" alt="" class="imgjob">
        </div>
        <div class="jobs">
            <img src="/static/AA MAGAZINE/PAGE-2-AND-31-(INSIDE-FRONT-AND-BACK-PAGE).jpg" alt="" class="imgjob">
        </div>
        <div class="jobs">
            <img src="/static/AA MAGAZINE/PAGE-3-AND-30.jpg" alt="" class="imgjob">
        </div>
        <div class="jobs">
            <img src="/static/AA MAGAZINE/PAGE-4-AND-29.jpg" alt="" class="imgjob">
        </div>
        <div class="jobs">
            <img src="/static/AA MAGAZINE/PAGE-5-AND-28.jpg" alt="" class="imgjob">
        </div>
        <div class="jobs">
            <img src="/static/AA MAGAZINE/PAGE-6-AND-27.jpg" alt="" class="imgjob">
        </div>
        <div class="jobs">
            <img src="/static/AA MAGAZINE/PAGE-7-AND-26-......jpg" alt="" class="imgjob">
        </div>
        <div class="jobs">
            <img src="/static/AA MAGAZINE/PAGE-8-AND-25.....jpg" alt="" class="imgjob">
        </div>
        <div class="jobs">
            <img src="/static/AA MAGAZINE/PAGE-9-AND-24.jpg" alt="" class="imgjob">
        </div>
        <div class="jobs">
            <img src="/static/AA MAGAZINE/PAGE-10-AND-23.jpg" alt="" class="imgjob">
        </div>
        
    </div>
    
</body>
</html>