{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logo Jobs</title>
    <link rel="stylesheet" href="/static/logo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    
</head>
<body>
    <button class="btn"><a href="{% url 'index' %}"><i class="fa fa-arrow-left"></i></a></button>
    <div class="container">
        <div class="jobs">
            <img src="/static/flyers/galaxy-pizza-......-Edit nn.jpeg" alt="" class="imgjob">
        </div>
        <div class="jobs">
            <img src="/static/flyers/galaxy-pizza-..jpg" alt="" class="imgjob">
        </div>
        <div class="jobs">
            <img src="/static/flyers/TUTU-welcome-you-to-April.-cl.jpg" alt="" class="imgjob">
        </div>
        <div class="jobs">
            <img src="/static/flyers/tutu-wishes-you-happy-eid-al-fitr.jpg" alt="" class="imgjob">
        </div>
        <div class="jobs">
            <img src="/static/flyers/ify-empire-flayer.jpg" alt="" class="imgjob">
        </div>
        <div class="jobs">
            <img src="/static/flyers/TOA.-01.jpg" alt="" class="imgjob">
        </div>
        <div class="jobs">
            <img src="/static/flyers/MSA.jpg" alt="" class="imgjob">
        </div>
        <div class="jobs">
            <img src="/static/flyers/MSA-2.jpg" alt="" class="imgjob">
        </div>
        <div class="jobs">
            <img src="/static/flyers/kaffy-home-flayer-design.jpg" alt="" class="imgjob">
        </div>
        <div class="jobs">
            <img src="/static/flyers/kaffy-home-flayer-design-advert.jpg" alt="" class="imgjob">
        </div>
        
    </div>
    
</body>
</html>