{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logo Jobs</title>
    <link rel="stylesheet" href="/static/logo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    
</head>
<body>
    <button class="btn"><a href="{% url 'index' %}"><i class="fa fa-arrow-left"></i></a></button>
    <div class="container">
        <div class="jobs">
            <img src="/static/logo/6pm-png-logo.png" alt="" class="imgjob"> <br>
            
            <p>
                <center>
                <h3 class="detailhead">Tools Used</h3>
                <li class="detailli">Adobe Photoshop</li>
                <li class="detailli">Adobe Illustator</li>
            </center>
            </p>
            
        </div>
        <div class="jobs">
            <img src="/static/logo/MSA-LOGO.jpg" alt="" class="imgjob">
            <p>
                <center>
                <h3 class="detailhead">Tools Used</h3>
                <li class="detailli">Adobe Photoshop</li>
                <li class="detailli">Adobe Illustator</li>
            </center>
            </p>
        </div>
        <div class="jobs">
            <img src="/static/logo/wales-logo.jpg" alt="" class="imgjob">
        </div>
        <div class="jobs">
            <img src="/static/logo/AL--ASH.jpg" alt="" class="imgjob">
        </div>
        <div class="jobs">
            <img src="/static/logo/ify-empire-003-logo-print.jpg" alt="" class="imgjob">
        </div>
        <div class="jobs">
            <img src="/static/logo/super-taste-logo.jpg" alt="" class="imgjob">
        </div>
        <div class="jobs">
            <img src="/static/logo/sit-with-tutu-logo.jpg" alt="" class="imgjob">
        </div>
        <div class="jobs">
            <img src="/static/logo/mikestudio-logo-design-,,...jpg" alt="" class="imgjob">
        </div>
        <div class="jobs">
            <img src="/static/logo/kaffy_home-logo-.....jpg" alt="" class="imgjob">
        </div>
        <div class="jobs">
            <img src="/static/logo/Tutu-Groups-Africa-2.jpg" alt="" class="imgjob">
        </div>
        
    </div>
    
</body>
</html>